.wrapper {
    position: fixed;
    z-index: 99;
    width: 100%;

    a {
        border: none;
    }
    
    .banner {
        color: var(--background-color);
        background-color: var(--primary-color);
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        font-weight: 600;
        height: 2rem;
    }
    
    .main {
        background-color: var(--background-color);
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        box-shadow: 0 1px 4px 0 rgb(154, 154, 154);

        .container {
            max-width: var(--max-width);
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                border-bottom: none;
                width: 10rem;
            }
        }
    }
}
