.wrapper {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 1rem;
    
    .inner {
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .usp {
            display: flex;
            gap: 0.5rem;
        }
    
        img {
            width: 1rem;
        }
    
        h3 {
            font-size: 1.3rem;
            font-weight: 600;
            color: var(--gray-text);
            margin-bottom: 1rem;
        }

    }
}

@media screen and (max-width: 1000px) {
    .wrapper {
        grid-template-columns: auto;
    }
}