
.wrapper {
    .links {
        position: absolute;
        width: 100%;
        left: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 99;
        background-color: var(--background-color);

         * {
            width: 100%;
            text-align: center;
            padding: 1rem 0;
            color: white;
            color: var(--dark-text);
        }

        .linkItem {
            transition: all .3s;
        }

        .active {
            color: var(--secondary-color);
        }
    }
}