.wrapper {
    display: grid;
    grid-template-columns: 40% auto;
    gap: 2rem;
    margin-top: 4rem;
    align-items: center;
    margin-bottom: 2rem;

    h3 {
        font-weight: 400;
    }
    
    p {
        padding: 0.6rem 0;
        color: var(--gray-text);
    }
}

@media screen and (max-width: 850px) {
    .wrapper {
        grid-template-columns: auto;
    }
}